* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
  margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listepunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}


/*Mobil grid */
.grid-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  background-color: #B0C3A7;
}/*auto, 1fr, 5%, 5 px, */

.Logo {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  margin-left: 16%;
  margin-top: 0.5%;
}



/*computer grid*/
@media screen and (min-width: 768px) {

  .Hero{
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

}

.header{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(1, 1fr);
  list-style: none;
  text-decoration: none;
  color: #D9D3C2;
  font-size: 3.5vw;
  grid-column: 1/4;
  grid-row: 1/2;
}

/* Style the top navigation bar "Menu" */
.topnav {
  overflow: hidden;
  background-color: #483B06;
  text-align: center;
  align-items: center;
  align-content: center;
}

.card {
  font-family: Arial;
}

/* Style the topnav links "Menu" */
.topnav a {
  float: left;
  display: block;
  color: #D9D3C2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover "Menu" */
.topnav a:hover {
  background-color: #87B29E;
  color: #D9D3C2;
  display: block;
}


footer {
  background: #111;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


.footr {
  text-align: right;
  float: left;
}


header, footer {
  border-radius: 15px;
}
